<ul>

<!-- Left Navbar -->
<li><%= link_to 'Home', '/' %></li></a>
|
<!-- Center Navbar -->
<li><%= link_to 'The Team', '/about' %></li>
|
<!-- Right Navbar -->
<li><%= link_to 'Wyncode', '/wyncode' %></li>

</ul>
